@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BPG Glaho Sylfaen";
  src:
    url("./assets/fonts/Sylfaen.woff2") format("woff2"),
    url("./assets/fonts/Sylfaen.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "3D Unicode";
  src:
    url("./assets/fonts/3DUnicode.woff2") format("woff2"),
    url("./assets/fonts/3DUnicode.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BPG Nino Mtavruli";
  src:
    url("./assets/fonts/BPGNinoMtavruli-Bold.woff2") format("woff2"),
    url("./assets/fonts/BPGNinoMtavruli-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  @apply m-0 p-0 box-border;
}
body{
  @apply font-bpg text-[rgba(20,32,68,.9)] ;
}